<app-userdetails></app-userdetails>
<ul>
  <li><span class="glyphicon glyphicon-search"></span>Search</li>
  <li><span class="glyphicon glyphicon-new-window"></span>New</li>
  <li><span class="glyphicon glyphicon-export"></span>Export</li>
  <li><span class="glyphicon glyphicon-import"></span>Import</li>
  <li><span class="glyphicon glyphicon-remove"></span>Cancel</li>
  <li><span class="glyphicon glyphicon-send"></span>Send mail</li>
  <li><span class="glyphicon glyphicon-check"></span>Confirm</li>
  <li><span class="glyphicon glyphicon-save"></span>save</li>
  <li><span class="glyphicon glyphicon-print"></span>Print</li>
  <li><span class="glyphicon glyphicon-refresh"></span>Refresh</li>
</ul>
