<div class="help-menu container-fluid">
  <div class="row">
    <div class="hammer-menu col-md-2">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div class="logoicon col-md-8">
      <img src="../assets/img/logo-Go.png">
    </div>
    <div class="userimg col-md-2">
      <div class="imgicon"><img src="../assets/img/user-img.png"></div>
      <div class="logout"><span class="glyphicon glyphicon-log-out"></span></div>

    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container-fluid wrapper-container">
  <div class="row">
    <div class="leftmenu col-md-2">
      <app-leftmenu></app-leftmenu>
    </div>
    <div class="menubar col-md-10">
        <app-menubar></app-menubar>
    </div>
    <div class="userdeatils-container col-md-10">
        
    </div>

  </div>
</div>
